.DS_STORE
.vs*
microbench/data/*
microbench/data.old/*
microbench/data*
microbench/results
microbench/graphs/*
microbench/*.out
microbench/warnings.txt
microbench/plot_config.py
macrobench/bin/*
macrobench/data/*
microbench/experiment_list.txt
microbench/__pycache__/*
microbench/data/summary.txt
